@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10px);
	}

	60% {
		transform: translateY(-5px);
	}
}

.animate-bounce {
	animation: bounce 0.3s;
}

.vertical-text {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: center;
	white-space: nowrap;
	/* font-size: 2rem; */
	/* Adjust the font size as needed */
}

.horizontal-text {
	writing-mode: horizontal-tb;
	transform: none;
	text-align: right;
	/* white-space: nowrap; */
}
