package features

import "gothstarter/layouts/components"

templ Finder(isAuthenticated bool, name string) {
@components.FeatureNavigation(isAuthenticated, name)
//TODO: Make the body for the finder, big search bar, kind of long searches of players trainers etc... just simple
lookup with the ability to inspect (click) on somebodys profile
}
